*Tutorial\ 2/T2/.vs/*
*Tutorial\ 2/T2/Debug/*
*Tutorial\ 2/T2/x64/*
*Tutorial\ 2/T2/Release/*
*Tutorial\ 2/T2/Tutorial\ 2/Debug/*
*Tutorial\ 2/T2/Tutorial\ 2/x64/*
*Tutorial\ 2/T2/Tutorial\ 2/Release/*